
{{#each equipo}}
  <div class="list-item">
    <h3>Nombre: {{nombre}} {{apellidos}}</h3>
    <p>Titulación: {{titulacion}}</p>
    <p>Especialización: {{especializacion}}</p>
    <p>Idiomas: {{idiomas}}</p>
    <p>Tecnologías: {{tecnologias_que_utiliza}}</p>
  </div>
{{/each}}
